::root {
--cor-de-fundo: rgb(200, 73, 231);
--bordo: #960755;
--branco: #47dad2;
--botao-ativo:#7d1692;
--botao-fundo: #ee02a7;
}
body{
     background-color: var(--cor-de-fundo);
 color: var(--branco);
 font-family: 'Times New Roman', Times, serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
margin: 0 auto;